
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>codersCollective</title>
		<link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="icon" href="./../../public/assets/img/object.ico" type="image">
</head>
<body>
	{{{ body }}}
</body>
</html>