<div class="container-fluid" id="center-all-content">
  <header>
    <div class="">
      <img src="/assets/img/burger.png" alt="burger">
      <h1>Eat Up!</h1>
    </div>
  </header>

  <div class="row ">
    <div class="col-lg-6">
      <h4>Ready? Set? Go!</h4>
      <ol>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ol>
    </div>

    <div class="col-lg-6">
      <h4>Gobbled Burgers</h4>
      <ol>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ol>
    </div>

  </div>

  <div>
    <form class="create-form">
      <h4>Add on to the list!</h4>
      <div class="form-group">
        <input type="text" id="bu" name="name" placeholder="Type burger here">
      </div>
      <button type="submit" class="btn btn-secondary">Grille It!</button>

    </form>
  </div>

</div>