h2 {
    font-size: 45px;
    font-weight: 70px;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.btnT {
    text-align: center;
    height: "60px";
    width: "60px";
}

.btnL {
    text-align: center;
    height: "200px";
    width: "20px";
}

.btnR {
    text-align: center;
    height: "200px";
    width: "20px";
}

.jumbotron {
    padding-top: 30px;
    background-image: URL("https://i.pinimg.com/originals/d8/25/5f/d8255f11a5e0f457697982f5943b1b77.gif");
    place-content: vertical;
    text-align: left;
    color: white;
    text-shadow: 10px 8px;
    text-shadow: 6px 6px 8px black;
    text-shadow: 3px 3px 3px black;
}

.img {
    border-radius: 15%;
    border-width: 5px;
    border-color: #5cb85c;
}


/* h4 {
    padding: 0px 15px;
} */

h1 {
    padding-top: 0px;
    /* background-image: URL("https://i.pinimg.com/originals/d8/25/5f/d8255f11a5e0f457697982f5943b1b77.gif"); */
    place-content: vertical;
    text-align: center;
    color: white;
    text-shadow: 10px 8px;
    text-shadow: 6px 6px 8px black;
    text-shadow: 3px 3px 3px black;
}


/* .lead,
.row {
    text-align: left;
    color: #F1F1F1;
} */

.wrapper {
    align-content: center;
    display: inline-flex;
    grid-template-columns: repeat(auto-fit, minmax(60px, 200px));
    grid-gap: 2px;
    transform: perspective(20px) translateZ(3);
    padding-left: 4%;
    padding-right: 2%;
}

.boxL {
    border-radius: 15px;
    padding: 5px;
    padding-top: 15px;
    width: 80px;
    height: 100px;
    fill-opacity: 50%;
}

.boxR {
    /* background-color: #20262e; */
    border-radius: 15px;
    padding: 5px;
    padding-top: 15px;
    width: 60px;
    height: 60px;
    fill-opacity: 50%;
}

.boxL:hover,
.boxR:hover {
    color: black;
    fill-opacity: 50%;
    transition: .2s;
    box-shadow: 4px 4px 4px 0px rgba(0, 140, 186, 0.9);
    transform: translateZ(3);
    opacity: 100%;
    font-weight: bolder;
    background-color: #555;
    border-radius: 16px;
}

.list-group {
    position: relative;
    display: block;
    margin-bottom: -1px;
    /* background-color: #fff; */
    border: 1px solid #000;
}

.form-control {
    background-color: black;
    color: #F1F1F1;
    text-align: left;
}

.create-update-form {
    text-align: center;
}

ol {
    margin: 0;
    padding: 0;
}

.eaten,
.rtc {
    /* margin: 3px; */
    /* border-radius: 50%; */
    background-color: black;
}