h2 {
    font-size: 45px;
    font-weight: 70px;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.box {
    border-radius: 15px;
    padding: 5px;
    width: auto;
    height: auto;
    fill-opacity: 50%;
}

.boxL:hover,
.boxR:hover {
    color: black;
    fill-opacity: 50%;
    transition: .2s;
    box-shadow: 4px 4px 4px 0px rgba(0, 140, 186, 0.9);
    transform: translateZ(3);
    opacity: 100%;
    font-weight: bolder;
    background-color: #0A3B5C;
    border-radius: 16px;
}

.btnT {
    text-align: center;
    height: 60px;
    width: 350px;
    margin-top: 10px;
    background-color: palevioletred;
    color: black;
}

.btnL {
    text-align: center;
    height: 60px;
    width: 60px;
}

.btnR {
    text-align: center;
    height: 60px;
    width: 60px;
}

.btnT:hover {
    color: #fff;
    background-color: #0A3B5C;
    border-color: #1e7e34;
}

.btn:hover {}

.jumbotron {
    padding-top: 30px;
    background-image: URL("https://i.pinimg.com/originals/d8/25/5f/d8255f11a5e0f457697982f5943b1b77.gif");
    place-content: vertical;
    text-align: left;
    color: white;
    text-shadow: 10px 8px;
    text-shadow: 6px 6px 8px black;
    text-shadow: 3px 3px 3px black;
}

img {
    vertical-align: middle;
    border-style: none;
    height: 100px;
    width: 100px;
}


/* h4 {
    padding: 0px 15px;
} */

h1 {
    padding-top: 0px;
    /* background-image: URL("https://i.pinimg.com/originals/d8/25/5f/d8255f11a5e0f457697982f5943b1b77.gif"); */
    place-content: vertical;
    text-align: center;
    color: white;
    text-shadow: 10px 8px;
    text-shadow: 6px 6px 8px black;
    text-shadow: 3px 3px 3px black;
}


/* .lead,
.row {
    text-align: left;
    color: #F1F1F1;
} */

.wrapper {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-gap: 2px;
    transform: perspective(20px) translateZ(3);
}

.form-control {
    background-color: black;
    color: #F1F1F1;
    text-align: left;
}

.create-update-form {
    text-align: center;
}

ol {
    margin: 0;
    padding: 0;
}